<div>
  <ul>
    <li style="display:inline;"><strong>Links:</strong></li>
    <li style="display:inline; padding: 15px;"><%= link_to 'All States', all_states_url %></li>
    <li style="display:inline; padding: 15px;"><%= link_to 'Top States Population', top_five_pop_url %></li>
    <li style="display:inline; padding: 15px;"><%= link_to 'Top States Area', top_five_area_url %></li>
  </ul>
</div>